.dir {
  &W {
    display: flex;
    align-items: center;
    column-gap: 70px;
    padding-left: calc((100vw - 1780px) / 2);
  }

  &Person {
    flex-shrink: 0;
    position: relative;

    &Title {
      font-size: 24px;
      line-height: normal;
      max-width: 250px;
    }

    &Work {
      color: #6b6b6b;
      line-height: normal;
    }

    &Line {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 440px;
      height: 2px;
      background-color: #000;
      position: relative;

      &::before {
        content: '';
        width: 139px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        right: 0;
      }
      &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &Content {
      position: absolute;
      bottom: 50px;
      left: -300px;
    }
  }

  &Image {
    width: 800px;
    height: calc(100vh - 94px);
    object-fit: cover;
  }

  .content {
    padding-left: 200px;
  }
}