// Header
.header {
  padding-top: 35px;
  padding-bottom: 35px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #f3f3f3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;

  &W {
    display: flex;
    align-items: center;
  }

  &L {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
  }

  &Action {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
  }

  &Nav {
    &>ul {
      display: flex;
      align-items: center;
      column-gap: 30px;

      &>li {
        &>a {
          font-size: 14px;
          text-transform: uppercase;
          transition: text-decoration-color .2s linear;
          text-decoration: underline;
          text-decoration-color: transparent;
          text-underline-offset: 3px;

          &:hover {
            text-decoration-color: var(--main-color);
          }
        }
      }
    }

    .searchWContainer {
      display: none;

      @media(max-width: 991px) {
        display: flex;
      }
    }
  }

  .burger {
    display: flex;
    flex-direction: column;
    row-gap: 7px;

    .line {
      width: 40px;
      height: 1px;
      background-color: #000;
      border-radius: 20px;
    }
  }
}

.sub-menu {
  display: none;
}

.headerNavCloseW {
  display: none;

  @media(max-width: 991px) {
    display: flex;
  }
}

.headerAction {
  display: flex;
  column-gap: 70px;
  align-items: center;
  justify-content: flex-end;

  .searchW {
    display: none;
  }
}

.headerAction {
  ul {
    display: flex;
    align-items: center;
    column-gap: 25px;

    li {

      a,
      button {
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}