@font-face {
	font-family: helveticaneuecyr;
	font-display: swap;
	src: url("../fonts/helveticaneuecyr-light.woff2") format("woff2"), url("../fonts/helveticaneuecyr-light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
